<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Some Website</title>
    </head>

    <body>
        {{> header}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam corporis, debitis culpa quas architecto, vitae dolor temporibus vel iste iusto impedit earum obcaecati laborum modi voluptates quaerat ut, deleniti cum.</p>

        {{> footer}}
    </body>
</html>